@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base { // For later darkmode lightmode stuff
  @media (prefers-color-scheme: light) {
      :root {
          --color-test: 255 255 255;
      }
  }

  :root[data-theme="light"] {
      --color-test: 255 255 255;
  }

  @media (prefers-color-scheme: dark) {
      :root {
          --color-test: 41 52 65;
      }
  }

  :root[data-theme="dark"] {
      --color-test: 41 52 65;
  }
} */