@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@layer base {
  @media (prefers-color-scheme: light) {
    :root {
      --color-default: 255 255 255;
      --color-primary: 17 24 39;
      --color-secondary: 107 114 128;
      --color-accent: 99 102 241;
      --color-hover: 238 238 248;
      --color-background: 249 250 251;
    }
  }

  :root[data-theme="light"] {
    --color-default: 255 255 255;
    --color-primary: 17 24 39;
    --color-secondary: 107 114 128;
    --color-accent: 99 102 241;
    --color-hover: 238 238 248;
    --color-background: 249 250 251;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-default: 255 255 255;
      --color-primary: 17 24 39;
      --color-secondary: 107 114 128;
      --color-accent: 99 102 241;
      --color-hover: 238 238 248;
      --color-background: 249 250 251;
    }
  }

  :root[data-theme="dark"] {
    --color-default: 255 255 255;
    --color-primary: 17 24 39;
    --color-secondary: 107 114 128;
    --color-accent: 99 102 241;
    --color-hover: 238 238 248;
    --color-background: 249 250 251;
  }
}